<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/about.css" />
    <script defer src="./js/index.js"></script>
    <title>DT Podiatry</title>
  </head>
  <body>
    <div class="page-container">
      <!-- SECTION ONE -->
      <%- include('partials/header', { navLinks: navLinks, treatmentLinks: treatmentLinks }) %>
      <section class="section-one">
          <div class="hero">
              <p class="main-text">About</p>
          </div>
      </section>
      <!-- SECTION ONE -->

      <!-- SECTION TWO -->
      <section class="section-two">
        <p class="section-header">A highly rated podiatrist in the heart of London</p>
        <div class="about-clinic">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Veritatis impedit, obcaecati doloremque eum et qui est
            consequuntur iste modi a aut at laborum aliquam numquam!
            Molestias, perspiciatis nobis! Quibusdam, facere.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            libero laborum sunt esse quos a unde assumenda cumque accusamus
            quod quaerat sint iste consequatur corporis, labore doloribus
            hic exercitationem atque.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            quibusdam nobis pariatur alias repellendus, esse ea earum harum
            debitis recusandae aut quaerat possimus? Eum, eligendi. Quasi
            exercitationem velit quaerat delectus!
          </p>
        </div>
      </section>
      <!-- SECTION TWO -->
      
      <!-- SECTION THREE -->
      <section class="section-three">
        <p class="section-header">Meet our Team</p>
        <div class="podiatrist-bio">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repudiandae ab veniam placeat doloribus incidunt ut ipsam ex
            reprehenderit obcaecati! Impedit sunt quidem nostrum libero
            ducimus sed eos est laborum molestiae?
          </p>
          <div class="image-container">
            <img src="assets/images/Image_of_our_main_podiatrist.jpg" alt="Image of our main podiatrist">
          </div>
        </div>
      </section>
      <!-- SECTION THREE -->

      <!-- FOOTER -->
      <%- include('partials/footer')%>
      <!-- FOOTER -->
    </div>
  </body>
</html>
