<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/contact-us.css" />
    <script defer src="./js/index.js"></script>
    <title>DT Podiatry</title>
  </head>
  <body>
    <div class="page-container">
      <div class="section-one">
        <div class="container">
          <%- include('partials/header', { navLinks: navLinks, treatmentLinks: treatmentLinks }) %>
          <div class="hero">
            <div class="hero-text">
              <p class="main-text">Contact</p>
              <p class="secondary-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
                nesciunt ipsam, veritatis reiciendis iure quaerat dignissimos,
                cupiditate doloremque saepe voluptatum illo atque, consequuntur
                eius deleniti sit quis sint harum unde.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- SECTIION TWO -->
      <div class="section-two">
        <div class="contact">
          <form action="/contact-us" method="post" id="sign-up"></form>
            <p>
              Required fields are labeled with
              <span aria-label="required">*</span>
            </p>
            <div class="user_name boxes">
              <div>
                <label for="first_name"
                  >First Name<span aria-label="required">*</span></label
                >
                <input
                  type="text"
                  name="first_name"
                  id="first_name"
                  autocomplete="off"
                  required
                />
                <span></span>
              </div>
              <div>
                <label for="last_name"
                  >Last Name<span aria-label="required">*</span></label
                >
                <input
                  type="text"
                  name="last_name"
                  id="last_name"
                  autocomplete="off"
                  required
                />
                <span></span>
              </div>
            </div>
            <div class="contact_info boxes">
              <div>
                <label for="mail"
                  >Email<span aria-label="required">*</span></label
                >
                <input type="email" name="mail" id="mail" autocomplete="off" />
                <span></span>
              </div>
              <div>
                <label for="mobile">Phone Number</label>
                <input
                  type="tel"
                  name="mobile"
                  id="mobile"
                  autocomplete="off"
                />
                <span></span>
              </div>
              <div>
                <label for="message">Message</label>
                <textarea
                  name="message"
                  id="message"
                  placeholder="Enter your inquiry here..."
                  autocomplete="off"
                ></textarea>
                <span></span>
              </div>
            </div>
          </form>
          <div class="buttons-and-links">
            <button form="sign-up" type="submit">Submit</button>
          </div>
        </div>

        <div class="maps">
          <p>Where to find us:</p>
          <iframe width="600" height="450" style="border:0" 
          loading="lazy" allowfullscreen 
          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJUxDXpJxddEgRTu9vnBpWdHQ&key=AIzaSyDHMi47NaMTD6PiWKd9uRsJl2FzZd2ZNxg">
          </iframe>
        </div>
      </div>
      <!-- SECTION TWO  -->

      <!-- FOOTER -->
      <%- include('partials/footer')%>
      <!-- FOOTER -->
    </div>
  </body>
</html>
