<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script defer src="js/index.js"></script>
    <title>DT Podiatry</title>
  </head>
  <body>
    <div class="page-container">
      <!-- SECTION ONE -->
      <%- include('partials/header', { navLinks: navLinks, treatmentLinks: treatmentLinks }) %>
      <section class="section-one">
          <div class="hero">
              <p class="main-text">DT Podiatry</p>
              <p class="secondary-text">Your foot health matters</p>
              <a class="btn" href="/treatments">See Treatments</a>
          </div>
      </section>
      <!-- SECTION ONE -->

      <!-- SECTION TWO -->
      <section class="section-two">
        <div class="container">
          <h2 class="random-text">What we offer</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium debitis sint totam minima laudantium, accusamus quibusdam blanditiis amet officia? Nihil vitae eius nisi cum libero earum necessitatibus doloribus veritatis enim.
          Quaerat voluptatum reprehenderit ex aspernatur? Totam adipisci dicta ullam corporis possimus nam alias quibusdam quas error quaerat! Reiciendis amet dolore voluptatem quia voluptate? Velit minima ut libero ea recusandae aut?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laboriosam quas nostrum quasi at sit impedit dicta possimus doloremque unde similique suscipit sed temporibus quisquam, commodi optio tempore iusto eius?
          Adipisci at porro eos sequi, est nam sint nisi obcaecati commodi excepturi natus neque a nostrum animi minima ab. Quibusdam exercitationem culpa quod expedita quae excepturi odit fuga quisquam aliquam.</p>
        </div>
        <!-- <div class="container">
          <div class="random-text">Images of companies recognised by</div>
          <div class="boxes">
            <div class="box-one">
              <div class="first"></div>
              <p>some subtext under an image</p>
            </div>
            <div class="box-two">
              <div class="second"></div>
              <p>some subtext under an image</p>
            </div>
            <div class="box-three">
              <div class="third"></div>
              <p>some subtext under an image</p>
            </div>
            <div class="box-four">
              <div class="fourth"></div>
              <p>some subtext under an image</p>
            </div>
          </div>
        </div> -->
      </section>
      <!-- SECTION TWO -->

      <!-- SECTION THREE -->
      <section class="section-three">
        <div class="quote-container">
          <div class="quote-section">
            <p>
              DT Podiatry is a really great clinic and I would highly recommend
              it.
            </p>
          </div>
          <div class="speaker">
            <p>-Jane Smith</p>
          </div>
        </div>
      </section>
      <!-- SECTION THREE -->

      <!-- SECTION FOUR -->
      <section class="section-two">
        <div class="container">
          <h2 class="random-text">Why should you chose us?</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium debitis sint totam minima laudantium, accusamus quibusdam blanditiis amet officia? Nihil vitae eius nisi cum libero earum necessitatibus doloribus veritatis enim.
          Quaerat voluptatum reprehenderit ex aspernatur? Totam adipisci dicta ullam corporis possimus nam alias quibusdam quas error quaerat! Reiciendis amet dolore voluptatem quia voluptate? Velit minima ut libero ea recusandae aut?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laboriosam quas nostrum quasi at sit impedit dicta possimus doloremque unde similique suscipit sed temporibus quisquam, commodi optio tempore iusto eius?
          Adipisci at porro eos sequi, est nam sint nisi obcaecati commodi excepturi natus neque a nostrum animi minima ab. Quibusdam exercitationem culpa quod expedita quae excepturi odit fuga quisquam aliquam.</p>
        </div>
      </section>
      <!-- SECTION FOUR -->

      <!-- POPULAR TREATMENTS -->
      <section class="popular-treatments">
        <div class="container">
          <div class="random-text">Our most popoular treatments</div>
          <div class="t-boxes">
            <div class="t-one">
              <!-- <div class="t-first"></div> -->
               <img src="../public/assets/images/nail-surgery.jpg" alt="Nail Surgery Image">
              <p>Nail Surgery</p>
            </div>
            <div class="t-two">
              <div class="t-second"></div>
              <p>Biomechanics</p>
            </div>
            <div class="t-three">
              <div class="t-third"></div>
              <p>Orthotics</p>
            </div>
          </div>
        </div>
      </section>
      <!-- POPULAR TREATMENTS -->

      <!-- SECTION SIX -->
      <!-- <section class="section-four">
        <div class="container">
          <div class="call-to-action">
            <div class="text">
              <h2>Book an appointment today!</h2>
              <p>
                Book an appointment or make an inquiry today by clicking that
                button right over there!
              </p>
            </div>
            <a class="sign-up-btn" href="./treatments.html">Book Now</a>
          </div>
        </div>
      </section> -->
      <!-- SECTION SIX -->

      <!-- FOOTER -->
       <%- include('partials/footer')%>
      <!-- FOOTER -->
    </div>
  </body>
</html>
