@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap);

:root {
    --left: 40px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", "Fredoka", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    min-height: 100vh;
}

/* SECTION ONE */
.section-one {
    /* border: 6px solid red; */
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    /* gap: 50px; */
    /* margin-bottom: 7%; */
    height: 25em;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/* HEADER */
header {
    /* border: 3px solid yellow; */
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header>h1 {
    display: block;
    padding: 20px 25px;
    margin: 0;
    padding: 0;
    font-size: 35px;
}

header>h1>a {
    /* border: 1px solid red; */
    /* color: #f9faf8; */
    cursor: pointer;
}

header>ul {
    /* border: 1px solid red; */
    list-style: none;
    margin: 0;
    padding: 0;
    /* display: inline; */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

header>ul>li {
    display: inline-block;
    position: relative;
    height: 100%;
}

header>ul,
header>ul>li>a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
}

header>ul>li>a {
    /* border: 1px solid black; */
    cursor: pointer;
}

header>ul>li>ul.dropdown>li>a {
    /* color: #f9faf8; */
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

header>ul>li>ul.dropdown>li {
    text-align: center;
    display: block;
    width: auto;
    height: 40px;
    border-bottom: 1px solid black;
}

.dropdown {
    /* background-color: #1F2937; */
    border: 1px solid black;
    background-color: white;
    width: 100%;
    visibility: hidden;
    display: none;
    position: absolute;
    z-index: 999;
}

.visible {
    visibility: visible;
    display: block;
}

/* HERO */
.hero {
    /* border: 3px solid red; */
    background-color: #1F2937;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* height: 40em; */
    /* height: 500px; */
    /* margin: auto; */
    /* margin-top: 30px; */
    /* flex-flow: column wrap; */
    /* justify-content: space-around; */
    /* gap: 5px; */
    /* gap: 15px; */
}

.hero .main-text {
    /* border: 1px solid yellow; */
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    text-align: center;
    align-self: center;
    justify-self: center;
}

/* SECTION TWO */
.section-two {
    /* display: flex; */
    display: grid;
    grid-template-rows: 0.5fr 2fr;
}

.stext {
    text-align: center;
    align-self: center;
    font-size: 30px;
}

.wrapper {
    display: flex;
}

.contact-details {
    /* border: 2px solid red; */
    width: 50%;
}

/* MAPS */
.maps {
    /* border: 2px solid green; */
    /* width: 50%; */
    height: 30em;
}

.maps>iframe {
    width: 100%;
    height: 100%;
}

/* FORM STYLING */
.contact {
    /* border: 2px solid blue; */
    width: 50%;
}

form {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}

form>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px;
    /* border: 1px solid red; */
}

form>div>input {
    width: 100%;
}

input {
    height: 2rem;
}

input>span {
    color: red;
}

textarea {
    padding: 5px;
    height: 150px;
    font-size: 1rem;
    resize: none;
}

.name-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.date-container,
.project-container {
    display: flex;
}

.priority-container>p {
    margin: 0;
    padding: 0;
    display: inline;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-container>button {
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    height: 3rem;
    cursor: pointer;
    width: 45%;
}

.button-container>button:hover {
    filter: brightness(1.1);
}

/* FOOTER */
.footer {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: auto;
}