<dialog class="task-dialog">
  <form action="<%= formRoute %>" method="post" class="booking-form">
    <div class="first-name-container">
      <label for="firstName"
        >First Name<span aria-label="required">*</span></label
      >
      <input type="text" name="firstName" id="firstName" autocomplete="off" />
      <span></span>
    </div>

    <div class="last-name-container">
      <label for="lastName"
        >Last Name<span aria-label="required">*</span></label
      >
      <input type="text" name="lastName" id="lastName" autocomplete="off" />
      <span></span>
    </div>

    <div class="date-container">
      <label for="date"
        >Date of Birth<span aria-label="required">*</span></label
      >
      <input type="date" name="date" id="date" />
      <span></span>
    </div>

    <div class="email-container">
      <label for="email">Email<span aria-label="required">*</span></label>
      <input type="email" name="email" id="email" />
      <span></span>
    </div>

    <div class="phone-number-container">
      <label for="phoneNumber"
        >Phone Number<span aria-label="required">*</span></label
      >
      <input type="tel" name="phoneNumber" id="phoneNumber" />
      <span></span>
    </div>

    <div class="notes-container">
      <label for="notes">Message (optional)</label>
      <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
    </div>

    <div class="button-container">
      <button type="submit" class="submit-task-btn">Submit</button>
      <button type="button" class="close-task-dialog">Cancel</button>
    </div>
  </form>
</dialog>
