<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/treatments.css" />
    <script defer src="../../js/treatments.js"></script>
    <title>DT Podiatry</title>
  </head>
  <body>
    <div class="page-container">
      <!-- SECTION ONE -->
      <%- include('partials/header', { navLinks: navLinks, treatmentLinks: treatmentLinks }) %>
      <section class="section-one">
          <div class="hero">
              <p class="main-text">Biomechanics</p>
              <button class="btn" type="button">Book Now</button>
              <!-- <p class="secondary-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt vero tenetur sequi harum libero, asperiores quae illum
                praesentium magni expedita ipsum incidunt? Quasi amet cum
                blanditiis repellat laborum facilis itaque.
              </p> -->
          </div>
      </section>
      <!-- SECTION ONE -->

      <!-- INFO ONE -->
      <section class="treatment-container">
        <div class="container">
          <div class="top-section">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora,
              corrupti beatae. Totam, officia itaque nulla excepturi expedita
              iusto repellat, maxime obcaecati dolores quas pariatur delectus
              perferendis cum neque! Recusandae, quam! Modi fugit beatae iure
              eum adipisci aliquam neque quidem nesciunt nihil veritatis dolores
              voluptatem, officiis aliquid molestiae labore, dignissimos
              accusamus! Atque incidunt sit ad maxime soluta quas magnam aperiam
              minus.
            </p>
            <div class="graphic">Image</div>
          </div>
          <div class="middle-section">
            <div class="graphic">Image</div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nisi
              corrupti reprehenderit! Esse, rerum dolorum alias temporibus
              voluptatem, quisquam neque non quo, officia officiis deserunt
              excepturi reiciendis nam beatae explicabo. Sunt deserunt quos quis
              ex at incidunt doloribus nemo veritatis assumenda cum, similique
              modi laudantium fugit cupiditate! Molestiae illo ullam, maiores
              porro architecto alias, eligendi, ipsum neque voluptate tempore
              inventore.
            </p>
          </div>
          <div class="bottom-section">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus
              corrupti nostrum repellendus quis officiis possimus, similique
              iste quae voluptas aspernatur nihil molestiae ratione ab
              consequatur ipsum asperiores repudiandae rem nisi! Ipsam alias,
              sint neque quasi eveniet aperiam nobis quaerat provident velit ut
              fugit cupiditate? Accusantium, beatae perspiciatis nisi
              praesentium corporis odio quae similique numquam alias laboriosam
              sint sapiente tempore sed.
            </p>
            <div class="graphic">Image</div>
          </div>
        </div>
      </section>
      <!-- INFO ONE -->

      <!-- INFO TWO -->
      <!-- INFO TWO -->

      <!-- INFO THREE -->
      <!-- INFO THREE -->

      <!-- DIALOG -->
       <%- include('partials/booking-form', { formRoute }) %>
      <!-- DIALOG -->

      <!-- FOOTER -->
      <%- include('partials/footer')%>
      <!-- FOOTER -->
    </div>
  </body>
</html>
