<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/treatments.css" />
    <script defer src="../../js/treatments.js"></script>
    <title>DT Podiatry</title>
  </head>
  <body>
    <div class="page-container">
      <!-- SECTION ONE -->
      <div class="section-one">
        <div class="container">
          <%- include('partials/header', { navLinks: navLinks, treatmentLinks: treatmentLinks }) %>
          </header>
          <div class="hero">
            <div class="hero-text">
              <p class="main-text">Treatments</p>
              <p class="secondary-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae
                perferendis fugiat obcaecati. Iusto fugit reprehenderit debitis
                nihil non in quis autem! Necessitatibus accusamus laborum
                explicabo voluptatem, at numquam obcaecati ea.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SECTION ONE -->

      <!-- SECTION TWO -->
      <div class="section-two">
        <div class="container">
          <div class="treatment-one">
            <p>Nail surgery</p>
          </div>
          <div class="treatment-two">
            <p>Biomechanics</p>
          </div>
          <div class="treatment-three">
            <p>Orthodics</p>
          </div>
          <div class="treatment-four">
            <p>Sports Injury</p>
          </div>
          <div class="treatment-five">
            <p>Diabeties</p>
          </div>
          <div class="treatment-six">
            <p>General Podiatry</p>
          </div>
        </div>
      </div>
      <!-- SECTION TWO -->

      <!-- FOOTER -->
      <div class="footer">
        <div>Copyright ©️ DT Podiatry 2025</div>
      </div>
      <!-- FOOTER -->
    </div>
  </body>
</html>
