<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/treatments.css" />
    <script defer src="../../js/treatments.js"></script>
    <title>DT Podiatry</title>
  </head>
  <body>
    <div class="page-container">
      <!-- SECTION ONE -->
      <%- include('partials/header', { navLinks: navLinks, treatmentLinks: treatmentLinks }) %>
      <section class="section-one">
          <div class="hero">
              <p class="main-text">Treatments</p>
          </div>
      </section>
      <!-- SECTION ONE -->

      <!-- SECTION TWO -->
      <section class="section-two">
        <div class="section-header">Our Core Treatments</div>
        <div class="container">
          <div class="treatment-one">
            <p>Nail surgery</p>
            <a href="/treatments/nail-surgery">Learn more</a>
          </div>
          <div class="treatment-two">
            <p>Biomechanics</p>
            <a href="/treatments/biomechanics">Learn more</a>
          </div>
          <div class="treatment-three">
            <p>Orthodics</p>
            <a href="/treatments/orthotics">Learn more</a>
          </div>
          <div class="treatment-four">
            <p>Sports Injury</p>
            <a href="#">Learn more</a>
          </div>
          <div class="treatment-five">
            <p>Diabeties</p>
            <a href="#">Learn more</a>
          </div>
          <div class="treatment-six">
            <p>General Podiatry</p>
            <a href="#">Learn more</a>
          </div>
        </div>
      </section>
      <!-- SECTION TWO -->

      <!-- FOOTER -->
      <%- include('partials/footer')%>
      <!-- FOOTER -->
    </div>
  </body>
</html>
